@import '../../styles/vars';

.main {
    @include main;
}

.congrats {
    text-transform: uppercase;
    font-weight: bold;
    color: $accent3;
    margin: 2% auto;
}

.list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
}
