@import '../../styles/vars';

.main {
    @include main;
}

.congrats {
    text-transform: uppercase;
}

.list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
}
